body {
  margin: 0;
  box-sizing: border-box;
}

/* THE TOP HEADER */
div.topHeader svg {
  height: 3vh;
  width: auto;
}

div.topHeader span {
  color: #999999;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
  background-color: #282828;
  vertical-align: middle;
}
.icons {
  margin-left: 7.5vw;
  color: #ffffff;
}
.info {
  display: flex;
  gap: 2px;
  margin-right: 7.5vw;
  color: #ffffff;
}
.info span {
  color: #ffffff;
}

.lightGray {
  color: #999999;
}

/* THE BOTTOM HEADER */

#home {
  height: 2vh;
}

#magnify {
  height: 3vh;
  position: absolute;
  right: 3px;
}

.bottomHeader {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.bottomHeader :nth-child(1) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.bottomHeader :nth-child(1) :nth-child(1) {
  color: #999999;
}
/* FORTUNA TEXT */
div.bottomHeader :nth-child(1) :nth-child(2) {
  font-size: 2.75rem;
}

/* INPUT ELEMENT */
div.bottomHeader :nth-child(1) :nth-child(3) :nth-child(1) {
  border: none;
  border-bottom: solid 1px;
}
/* INPUT ELEMENT PARENT */
div.bottomHeader :nth-child(1) :nth-child(3) {
  display: flex;
  position: relative;
}

div.bottomHeader :nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 2vw;
  position: relative;
}

div.bottomHeader :nth-child(2) :nth-child(7)::after {
  content: 'new';
  color: #ffffff;
  background-color: #40b3ff;
  position: absolute;
  font-size: 0.75rem;
  top: -0.5rem;
}

/* MAIN IMAGE */
div.main svg {
  height: 10vh;
  color: #ffffff;
}

.main {
  height: 95vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('./imgs/img2.jpg');
  background-size: cover;
}

div.main :nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  color: #000;
}

div.main :nth-child(2) :nth-child(1) {
  font-size: 4rem;
}
div.main :nth-child(2) :nth-child(2) {
  font-size: 1.5rem;
}
div.main :nth-child(2) :nth-child(3) {
  font-size: 1.5rem;
  padding: 2vh;
  border-radius: 30px;
  border: none;
  color: #ffffff;
  background-color: green;
}

/* DELIVERY NOTICE */
.deliveryNotice {
  width: 80vw;
  height: 8vh;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border-radius: 7.5px;
  color: #ffffff;
  background-color: #b9a16b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

/* DEALS */
div.deals svg {
  height: 4vh;
}
.deals {
  width: 80vw;
  height: 35vh;
  margin: auto;
  margin-bottom: 3vh;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.deals :nth-child(1) {
  display: flex;
  gap: 1vh;
  justify-content: flex-start;
  vertical-align: baseline;
  align-items: center;
  margin-left: 1.5rem;
  font-size: 2rem;
}

div.deals :nth-child(2) {
  align-self: center;
}

/* CIRCLES */
div.circles svg {
  height: 7.5vh;
}

div.circles {
  margin: auto;
  width: 80vw;
  height: 30vh;
  display: flex;
  justify-content: space-between;
}

div.circles > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.circle {
  border: solid;
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.largeText {
  font-size: 1.5rem;
}

.smallText {
  color: #999999;
}
